<div class="gap-[10px] absolute bottom-[50px] left-4 lg:left-[100px] grid grid-cols-5 grid-rows-5">
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
  <span class="w-[6px] h-[6px] rounded-full bg-primary-gold opacity-[0.3] animate-dots"></span>
</div>
